/* @import "tailwindcss"; */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: 950;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;

}

.text-2xl {
  color: red;
}